.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  position: fixed;
  z-index: 9999;
  background-color: white !important;
  top: 60px;
  width: 100%;
}
.header {
  position: sticky;
  width: 100%;
  height:60px;
  z-index: 9999;
  top: 0px;
}
/* HOMEPAGE */
/* .main {
  position: relative;
  top: 80px;
} */

.text-img-card {
  display: flex;
  flex-direction: horizontal;
  height: 80vh;
}

.text-img-card img {
  display: flex;
  flex-direction: horizontal;
  width: 100%;
}

/* RESUME */
.img-overlay-mid {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pfpInput-img:hover .pfpInput-img {
  opacity: 0.3;
}
.pfpInput-img:hover .img-overlay-mid {
  opacity: 1;
}

.img-overlay-text {
  text-align: left;
  color: darkgray;
  font-size: 16px;
}

.owl-theme .owl-dots .owl-dot  {
  display: none !important;
}

.valuable_client_bg {
  background-image: url("../public/background_images/city-vector.jpg");
  opacity: 0.5;
}